/*------------------------------------------------*/
/*----------------- Fonts Section ----------------*/
/*------------------------------------------------*/
@font-face {
  font-family: 'DroidSans';
  src: url('/fonts/Droid_Sans/DroidSans.ttf') format('truetype');
}

@font-face {
  font-family: 'DroidSerif';
  src: url('/fonts/Droid_Serif/DroidSerif-Italic.ttf') format('truetype');

}

@font-face {
  font-family: 'Oswald_ExtraLight';
  src: url('/fonts/Oswald_ExtraLight/Oswald-ExtraLight.ttf') format('truetype');

}

body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

/* ------------------- Navbar ------------------- */

.navbar {
  font-family: 'Oswald', sans-serif;
  background-image: url(./assets/grille.png);
  background-repeat: url(./assets/grille.png);
  display: flex;
  padding: 20px;
}

.navbar .logo img {
  margin-left: 200px;
  margin-right: 100px;
  margin-top: 30px;
}

.menu-list {
  display: flex;
  list-style-type: none;
}

.menu-item {
  position: relative;
  margin: 0 20px;
  text-decoration: none;
}

.submenu {
  list-style-type: none;
  padding: 0%;
  text-decoration: none;
}

.menu-item a {
  text-decoration: none;
  color: #766f6f;
  display: block;
  padding: 5px;
}

.border1 {
  border: 2px solid #f76900;
}

.border2 {
  border: 2px solid #fcd04a;
}

.border3 {
  border: 2px solid #b9d482;
}

.border4 {
  border: 2px solid #3d92c2;
}

.border5 {
  border: 2px solid #c078d0;
}

.ligne {
  border: #f0f0f0 0.2px solid;
  margin: 10px;
}

/* ------------------- main ------------------- */

.video {
  display: flex;
  justify-content: center;
  height: 300px;
  width: 100%;
  margin: 20px;
}

.ligne2 {
  border: #f0f0f0 0.2px solid;
  margin-top: 100px;
}

.texte {
  font-family: 'DroidSans';
  background-image: url(./assets/grille.png);
  background-repeat: url(./assets/grille.png);
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 10px;
  color: #766f6f;
}

.ligne3 {
  border: #f0f0f0 0.2px solid;
}

.events {
  display: flex;
  margin: 10px;
}

/* ------------------- golf ------------------- */
.golf {
  border: 0.2px solid #766f6f;
  width: 240px;
  height: 400px;
  margin: 20px 20px;
  margin-left: 250px;
}

.golf .titre h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #e77962;
}

.golf .date p {
  font-family: 'DroidSans';
  font-size: 0.9rem;
  color: #766f6f;
  margin-bottom: 10px;
}

.golf .description p {
  font-family: 'Oswald';
  font-size: 0.9rem;
  margin-bottom: 20px;
  color: #766f6f;
}

.golf .lire-plus a {
  font-size: 0.9rem;
  color: #766f6f;
  text-decoration: none;
}

/* ------------------- accrobranche  et Fastfood ------------------- */

.accrobranche {
  width: 230px;
  height: 250px;
  margin: 20px;
}

.accrobranche .titre h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #f76900;
} 

.accrobranche .date p {
  font-family: 'DroidSans';
  font-size: 0.9rem;
  color: #766f6f;
  margin-bottom: 10px;
}

.accrobranche .description p{
  font-family: 'DroidSans';
  color: #766f6f;
}

.accrobranche .lire-plus a {
  color: #766f6f;
  text-decoration: none;
}


/* ------------------- commentaires ------------------- */

.commentaire {
  margin: 20px;
  width: 480px;
  height: 400px;
}

.commentaire .titre h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #f76900;
}

.commentaire .date p {
  font-family: 'DroidSans';
  font-size: 0.9rem;
  color: #766f6f;
  margin-bottom: 40px;
}

.commentaire .description p {
  font-family: 'DroidSans';
  color: #766f6f;
}

.commentaire .lire-plus a {
  color: #766f6f;
  text-decoration: none;
}

.image{
  border: 0.2px solid #766f6f;
  margin: 5px 7px; 
}

.image img {
  margin: 10px;
}
.photos {
  display: flex;
}

.photos2 {
  display: flex;
}

/* ------------------- footer ------------------- */

.footer{
  display: flex;
  background-image: url(./assets/grille.png);
  background-repeat: url(./assets/grille.png);
  padding: 20px;
  margin: 20px;
}

.Nous-contacter {
  margin-left: 220px;
}

.dernier-billet{
  margin-left: 80px;
}

.dernier-commentaire{
  margin-left: 80px;
}

.blablaland{
  margin-left: 80px;
}

/* ------------------- footer2 ------------------- */

.ligne4 {
  border: #f0f0f0 0.2px solid;
}
.footer2{
  display: flex;
}

.information{
  margin-left: 280px;
}

.reseau{
  margin-left: 500px;
}